body {
  font-size: inherit;
  font-family: "Roboto", "Noto Sans KR";
}

.inner {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
}

.header .top_banner {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  line-height: 40px;
}

.header .top_banner .inner ul {
  display: flex;
  justify-content: right;
  flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  gap: 15px;
  list-style: none;
}

.header .top_banner li {
  position: relative;
  padding: 0 0 0 10px;

}

.header .top_banner li ~ li::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 15px;
  background: #ddd;
}

/*--------------topbanner-------------------*/

.header .head_container {
  border-bottom: 1px solid #ddd;
  line-height: 100px;
}

.header .head_container .inner {
  width: 1200px;
  justify-content: space-between;
  flex-direction: row;
}

.head_container .inner .search {
  position: relative;
  width: 300px;
  margin: 0 0 0 35px;
}

.head_container .inner .search input {
  border: 1px solid rgb(223, 113, 223);
  height: 40px;
  font-size: 16px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
}

.head_container .inner .search button {
  position: absolute;
  border: none;
  background: none;
  top: 40px;
  right: 10px;
}

.header .head_container .inner .gnb > ul {
  display: flex;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
}

.header .head_container .inner h1 img {
  width: 300px;
  height: 100px;
}

/*--------------head_container-------------------*/



.mainVisual .main_slide {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.slick-dots li {
  display: inline-block;
  margin: 0 0 0 10px;
}

.mainVisual .main_slide .slick-dots > li button {
  font-size: 0;
  border: none;
  border-radius: 25%;
  width: 13px;
  height: 8px;
  background: #fff;
}

.mainVisual .main_slide .slick-dots > li.slick-active button {
  background: rgb(223, 113, 223);
  width: 25px;
}

.subVisual {
  padding: 50px 0;
}

.subVisual .inner {
  flex-wrap: wrap;
  gap: 20px;
}

.subVisual .inner figure {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 1px 6px -0.5px 0.1px;
  width: 283px;
  height: 110px;
}

.subVisual .inner figure span {
  display: inline-block;
  margin: 0 50px 0 30px;
  padding: 15px 0 0 0;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.subVisual .inner figure p {
  font-size: 16px;
  margin: 0 50px 0 30px;
}

.subVisual .inner figure img {
  position: absolute;
  width: 200px;
  height: 100px;
  top: -3%;
  left: 25%;
}

.subVisual .inner .num4 {
  background-color: rgb(235, 220, 196);
}

.subVisual .inner .num5 {
  background-color: rgb(230, 242, 255);
}
.subVisual .inner .num6 {
  background-color: rgb(214, 235, 224);
}

.subVisual .inner .num7 {
  background-color: rgb(209, 214, 255);
}
.subVisual .inner .num8 {
  background-color: rgb(255, 235, 235);
}

.subContent {
  padding: 30px 0;
  width: 1200px;
  margin: 0 auto;
}

.subContent .desc {
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px 0;
}

.subContent .desc h2 {
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.subContent .desc a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.subContent .inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.subContent .inner figure {
  width: 290px;
  gap: 30px;
  border-radius: 20px;
  background: rgb(246, 248, 251);
}

.subContent .inner figure .a1 {
  display: inline-block;
  margin: 0 0 0 200px;
  padding: 8px;
}

.subContent .inner figure .a2 {
  display: inline-block;
  padding: 0 0 30px 0;
}

.subContent .inner .img_box h3 {
  display: block;
  padding: 15px 0;
  font-size: 15px;
}

.subContent .inner .img_box p {
  display: block;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.subContent .inner .img_box strong {
  display: block;
  padding: 0 0 15px 0;
  font-size: 15px;
}

.subContent .inner .img_box d {
  padding: 0 0 15px 0;
  font-size: 20px;
  color: rgb(223, 113, 223);
  padding: 0 10px 100px 0;
  width: 25px;
}

.background {
  margin: 50px 0 0 0;
  background: rgb(199, 32, 52);
}

.background img {
  width: 1200px;
  height: 220px;
  width: 100%;
}

.bestTire {
  padding: 80px 0;
  width: 1200px;
  margin: 0 auto;
}

.bestTire .desc {
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px 0;
}

.bestTire .desc h2 {
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.bestTire .desc a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

.bestTire .inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.bestTire .inner figure {
  width: 290px;
  gap: 30px;
  border-radius: 20px;
  background: rgb(246, 248, 251);
}

.bestTire .inner figure .a1 {
  display: inline-block;
  margin: 0 0 0 200px;
  padding: 8px;
}

.bestTire .inner figure .a2 {
  display: inline-block;
  padding: 0 0 30px 0;
}

.bestTire .inner .img_box h3 {
  display: block;
  padding: 15px 0;
  font-size: 15px;
}

.bestTire .inner .img_box p {
  display: block;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.bestTire .inner .img_box strong {
  display: block;
  padding: 0 0 15px 0;
  font-size: 15px;
}

.bestTire .inner .img_box d {
  padding: 0 0 15px 0;
  font-size: 20px;
  color: rgb(223, 113, 223);
  padding: 0 10px 100px 0;
  width: 25px;
}

.brand {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
}

.brand h2 {
  display: block;
  text-align: left;
  padding: 0 0 30px 0;
  font-size: 25px;
  font-weight: 600;
}

.brand .inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  flex-wrap: wrap;
  justify-content: space-between;
}

.brand .inner img {
  width: 210px;
  padding: 0 0 20px 0;
  height: 100px;
}

/*여기서부터 ----------------------------------------------------------- sub페이지*/

.secondVisual {
  padding: 100px 0 50px 0;
  border-bottom: 1px solid #ddd;
}

.secondVisual .top_inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.secondVisual .top_inner h2 {
  font-size: 35px;
  font-weight: 600;
}

.secondVisual .top_right {
  display: flex;
  position: relative;
  gap: 10px;
}

.secondVisual .top_right::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 284px;
  width: 1px;
  height: 25px;
  background: #ddd;
}

.secondVisual .top_right h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 0 0;
}

.secondVisual .top_right p {
  background: #ddd;
  width: 100px;
  line-height: 35px;
  text-align: center;
  border-radius: 20px;
}

.secondVisual .top_right span {
  padding: 10px 20px 0 20px;
  background: rgb(242, 235, 254);
  border-radius: 20px;
  font-weight: 500;
}

/*여기서부터 ----------------------------------------------------------- secondContent페이지*/

.secondContent {
  padding: 80px 0;
}

.secondContent .second_inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.secondContent .second_inner #gnb .top_desc {
  font-size: 25px;
  font-weight: 600;
}

.secondContent .second_inner #gnb > ul > li {
  position: relative;
  line-height: 70px;
  border-bottom: 1px solid #ddd;
  width: 200px;
}

.secondContent .second_inner #gnb > ul > li .xi-angle-down-min {
  position: absolute;
  top: 27px;
  right: 10px;
}

.secondContent .second_inner #gnb > ul > li .xi-angle-down-min.on {
  transform: rotate(180deg);
}

.secondContent .second_inner #gnb > ul > li .submenu {
  line-height: 30px;
  width: 100px;
  text-align: left;
  padding: 0 0 20px 0;
  display: none;
}

.secondContent .second_inner .recomand_tire {
  gap: 30px;
}

.secondContent .second_inner .tire_inner {
  display: flex;
  margin: 0 auto;
  width: 800px;
  justify-content: space-between;
  text-align: left;
  gap: 55px;
}

.secondContent .second_inner .recomand_tire h3 {
  display: block;
  text-align: left;
  padding: 20px 0 30px 50px;
  font-size: 25px;
  font-weight: 600;
}

.secondContent .second_inner .tire_inner figure {
  background: rgb(246, 248, 251);
  border-radius: 25px;
}

.secondContent .second_inner .back_img {
  padding:  100px 0 80px 0 ;
}

.secondContent .second_inner .tire_inner .img_box h3 {
  display: block;
  padding: 15px 0;
  font-size: 15px;
}

.secondContent .second_inner .tire_inner.img_box p {
  display: block;
  padding: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.secondContent .second_inner .tire_inner .img_box strong {
  display: block;
  padding: 0 0 15px 0;
  font-size: 15px;
}

.secondContent .second_inner .tire_inner .img_box d {
  padding: 0 0 15px 0;
  font-size: 20px;
  color: rgb(223, 113, 223);
  padding: 0 10px 100px 0;
  width: 25px;
}

.second_inner .all_item .top_selector {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.secondContent .all_item .top_selector h2 {
  padding: 10px 0 0 0;

}

.secondContent .all_item .gnb > ul > li {
  position: relative;
  border: 1px solid #ddd;
  width: 180px;
  height: 40px;
  margin:  0 0 0 600px ;
  padding: 10px 55px;
  border-radius: 30px;
}

.secondContent .all_item .gnb > ul > li .submenu {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 40px;
  width: 180px;
  text-align: left;
  display: none;
  border: 1px solid #ddd;
  padding: 10px 40px;
  background: #fff;
  border-radius: 30px;
}

.secondContent .all_item .gnb > ul > li.on .submenu {
  display: block;
  border: 1px solid #ddd;
}



.secondContent .all_item .gnb > ul > li .xi-angle-down-min.on {
  transform: rotate(180deg);
}

.second_inner .all_item .bottom_inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}

.all_item .bottom_inner .img_box_second {
  position: relative;
  width: 300px;
}

.all_item .bottom_inner .img_box_second figure {
  background: rgb(246, 248, 251);
  border-radius: 25px;
}

.all_item .bottom_inner .img_box_second .a1 {
  display: inline-block;
  padding: 10px;
  margin: 0 0 0 170px;
}

.recomand_tire .img_box_second .a1 {
  display: inline-block;
  padding: 10px;
  margin: 0 0 0 50px;
}

.recomand_tire .img_box_second > h3 {
  position: absolute;
  left: -52px;
  display: block;
  padding: 30px 0;
  font-size: 1px;
}

.recomand_tire .img_box_second > p {
  display: block;
  padding: 55px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.recomand_tire .img_box_second > strong {
  display: block;
  padding: 0 0 15px 0;
  font-size: 15px;
}

.recomand_tire .img_box_second > d {
  padding: 0 0 15px 0;
  font-size: 20px;
  color: rgb(223, 113, 223);
  padding: 0 10px 100px 0;
  width: 25px;
}


.footer {
  padding: 50px 0;
  border-top: 1px solid #ddd;
}

.footer .inner {
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.footer .inner .left {
  line-height: 25px;
  font-size: 12px;
  position: relative;
}

.footer .inner .left .one {
  display: flex;
  gap: 10px;
}

.footer .inner .left::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 29%;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.footer .inner .left a {
  font-weight: 600;
}

.footer .inner .left strong {
  display: block;
}

.footer .inner .right {
  line-height: 25px;
  font-size: 12px;
}

.footer .inner .right .strong {
  font-size: 16px;
  font-weight: 600;
}

.footer .bottom {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0 0;

  justify-content: space-between;
}

.footer .bottom ul {
  display: flex;
  gap: 30px;
}
.footer .bottom .right i {
  font-size: 25px;
}
